@inherits LayoutComponentBase

<PageTitle>Classroom Reservation System</PageTitle>

<div class="page">
    <main>    
        <Navbar />
        <div class="content px-4">
            @Body
        </div>
    </main>

</div>
